SECRET_KEY="pepitoclavo1234"

{
  "username": "Amau",
  "email": "amau@example.com",
  "password": "strings12",
  "phone_number": "+527641022230"
}

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiZXhwIjoxNzcyNjQ2NTc2fQ.kh_XY-j7Ovr6N2NtKsWXMsfkqJQ8mG4V6FDC2oAA2is